/* Grid */

.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
  
    }
    
    .time { grid-area: 1 / 1 / 2 / 2; }
    .date { grid-area: 1 / 2 / 2 / 3; }
    .weather { grid-area: 2 / 1 / 3 / 3; }


/* Widgets */
section {
  background: lightgray;
  padding: 2em;
  position: relative;
  margin: .5em;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4.5em;
}
h2 {
  font-size: 2.5em;
}
/* Time */
.time {
  
  
}

.hours {
  font-size: 5.5em;
}

.minutes {
  font-size: 5.5em;
}

.seconds {
  font-size: 2em;
}

.amOrPM {
  font-size: 2em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 
  
}

/* Date */
.date {
  
}

.month {
  font-size: 2.5em;
}

.dayOfMonth {
  font-size: 2.5em;
}

.year {
  font-size: 1.5em;
}

.dayOfWeek {
  font-size: 1.5em;
}

/* Weather */
.weather {
  
}

.city {
  font-size: 2.5em;
  
}

.temp {
  font-size: 1.5em;

  
}

.weather img {
  
}
