/* Grid */

.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
  
    }
    
    .time { grid-area: 1 / 1 / 2 / 2; }
    .date { grid-area: 1 / 2 / 2 / 3; }
    .weather { grid-area: 2 / 1 / 3 / 3; }


/* Widgets */
section {
  background: #a3c1ad;
  position: relative;
  margin: 1em;
  padding: 1em;
  color: #1c352d;
  
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 7em;
  color: whitesmoke;
}
h2 {
  font-size: 3em;
}

/* Time */

.hours {
  font-size: 10em;
  font-weight: 600;
}

.minutes {
  font-size: 10em;
  font-weight: 600;
}

.seconds {
  font-size: 3em;
  font-weight: 200;
}

.amOrPM {
  font-size: 3em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: whitesmoke;
}

/* Date */

.month {
  font-size: 4.5em;
  font-weight: 600;
}

.dayOfMonth {
  font-size: 4.5em;
  font-weight: 600;
}

.year {
  font-size: 2.5em;
  font-weight: 200;
}

.dayOfWeek {
  font-size: 2.5em;
  color: whitesmoke;
}

/* Weather */

.city {
  font-size: 4.5em;
  font-weight: 600;
  
}

.temp {
  font-size: 2.5em;
  font-weight: 400;
  
}

p { 
  font-size: 2.5em;
  font-weight: 200;
}

